{% extends 'layout.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<section class="intro-section">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="headline col">
          <div><img src="{{ '/static/img/logo-reana.svg'|asseturl }}"></div>
          <h1>Reproducible research data analysis platform</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-section section-content-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 flexible-section">
        <h3>Flexible</h3>
        <p>
          Run many computational workflow engines.
        </p>
        <a href="https://www.commonwl.org/"><img src="{{ '/static/img/logo-cwl.svg'|asseturl }}" title="Common Workflow Language" /></a>
        <a href="https://snakemake.github.io/"><img src="{{ '/static/img/logo-snakemake.png'|asseturl }}" title="Snakemake" /></a>
        <a href="https://github.com/yadage"><img src="{{ '/static/img/logo-yadage.png'|asseturl }}" title="Yadage" /></a>
      </div>
      <div class="col-md-3 scalable-section">
        <h3>Scalable</h3>
        <p>
          Support for remote compute clouds.
        </p>
        <a href="https://kubernetes.io/"><img src="{{ '/static/img/logo-kubernetes.svg'|asseturl }}" title="Kubernetes" /></a>
        <a href="https://research.cs.wisc.edu/htcondor/"><img src="{{ '/static/img/logo-htcondor.png'|asseturl }}" class="htcondor" title="HTCondor" /></a>
        <a href="https://slurm.schedmd.com/"><img src="{{ '/static/img/logo-slurm.svg'|asseturl }}" class="slurm" title="Slurm" /></a>
      </div>
      <div class="col-md-3">
        <h3>Reusable</h3>
        <p>
          Containerise once, reuse elsewhere. Cloud-native.
        </p>
        <a href="https://www.docker.com/"><img src="{{ '/static/img/logo-docker.svg'|asseturl }}" title="Docker" /></a>
        <a href="https://singularity.lbl.gov/"><img src="{{ '/static/img/logo-singularity.svg'|asseturl }}" title="Singularity" /></a>
      </div>
      <div class="col-md-3">
        <h3>Free</h3>
        <p>
          Free Software. MIT licence. Made with <i class="fa fa-heart"></i> at CERN.
        </p>
        <a href="https://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN" /></a>
      </div>
    </div>
  </div>
</section>
<div class="separator">
  <img src="{{ '/static/img/separator.svg'|asseturl }}" />
</div>
<section class="examples-section section-content-light-bg" id="examples">
  <div class="container">
    <span class="section-title-dark-bg">Examples</span>
    <div id="examples-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <div class="command-line cl-example">
                  <div class="line"><span class="prompt">$</span>cat inputs/names.txt</div>
                  <div class="line output">Jane Doe</div>
                  <div class="line output">Joe Bloggs</div>
                  <div class="line"><span class="prompt">$</span>reana-client start</div>
                  <div class="line"><span class="prompt">$</span>reana-client download</div>
                  <div class="line"><span class="prompt">$</span>cat outputs/greetings.txt</div>
                  <div class="line output">Hello Jane Doe!</div>
                  <div class="line output">Hello Joe Bloggs!</div>
                </div>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-helloworld">"Hello world"</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-helloworld&name=reana-demo-helloworld">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-worldpopulation"><img src="{{ '/static/img/example-jupyter.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-worldpopulation">Parametrised Jupyter notebook</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-worldpopulation&name=reana-demo-worldpopulation">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-root6-roofit"><img src="{{ '/static/img/example-root.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-root6-roofit">ROOT/RooFit physics analysis</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-root6-roofit&name=reana-demo-root6-roofit">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-bsm-search"><img src="{{ '/static/img/example-bsm-search.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-bsm-search">ATLAS BSM search</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-root6-roofit&name=reana-demo-bsm-search">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu"><img src="{{ '/static/img/example-lhcb-rare-charm-decay-search.jpg'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu">LHCb rare charm decay search</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-lhcb-d2pimumu&name=reana-demo-lhcb-d2pimumu">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run"><img src="{{ '/static/img/example-alice-lego-train-test-run.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run">ALICE LEGO train test run</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-alice-lego-train-test-run&name=reana-demo-alice-lego-train-test-run">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-atlas-recast"><img src="{{ '/static/img/example-atlas-recast.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-atlas-recast">ATLAS RECAST</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-atlas-recast&name=reana-demo-atlas-recast">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-cms-h4l"><img src="{{ '/static/img/example-cms-higgs-to-four-leptons.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-cms-h4l">CMS Higgs-to-four-leptons</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-cms-h4l&name=reana-demo-cms-h4l">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#examples-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#examples-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="getstarted-section section-content-dark-bg" id="getstarted">
  <div class="container">
    <span class="section-title-white-bg">Get started</span>
    <div class="row">
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">1</div>
        </div>
        <h3>Structure your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line">inputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- code/mycode.py</div>
            <div class="line tab-2x">- inputs/mydata.csv</div>
            <div class="line tab">parameters:</div>
            <div class="line tab-2x">myparameter: myvalue</div>
            <div class="line">workflow:</div>
            <div class="line tab">type: cwl</div>
            <div class="line tab">file: workflow/myworkflow.cwl</div>
            <div class="line">outputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- results/myplot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/reference/reana-yaml/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">2</div>
        </div>
        <h3>Select a REANA cluster...</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line"><span class="prompt">$</span>export REANA_SERVER_URL=https://reana.cern.ch/</div>
            <div class="line"><span class="prompt">$</span>export REANA_ACCESS_TOKEN=XXXXXXX</div>
          </div>
        </figure>
        <h3>...or install your own</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># install kubectl 1.19+, kind 0.9+ and helm 3.0+</div>
            <div class="line"><span class="prompt">$</span>sudo dpkg -i kubectl*.deb kind*.deb kubernetes-helm*.deb</div>
            <div class="line comment"># create Kubernetes cluster (or use your own!)</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/etc/kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>kind create cluster --config kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/scripts/prefetch-images.sh</div>
            <div class="line"><span class="prompt">$</span>sh prefetch-images.sh</div>
            <div class="line comment"># deploy REANA using Helm</div>
            <div class="line"><span class="prompt">$</span>helm repo add reanahub https://reanahub.github.io/reana</div>
            <div class="line"><span class="prompt">$</span>helm repo update</div>
            <div class="line"><span class="prompt">$</span>helm install reana reanahub/reana --wait</div>
            <div class="line comment"># create an admin user</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/scripts/create-admin-user.sh</div>
            <div class="line"><span class="prompt">$</span>sh create-admin-user.sh default reana john.doe@example.org mysecretpassword</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/administration/deployment/deploying-locally/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">3</div>
        </div>
        <h3>Run your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># create new virtual environment</div>
            <div class="line"><span class="prompt">$</span>virtualenv ~/.virtualenvs/myreana</div>
            <div class="line"><span class="prompt">$</span>source ~/.virtualenvs/myreana/bin/activate</div>
            <div class="line comment"># install REANA client</div>
            <div class="line"><span class="prompt">$</span>pip install reana-client</div>
            <div class="line comment"># create new workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client create -n my-analysis</div>
            <div class="line"><span class="prompt">$</span>export REANA_WORKON=my-analysis</div>
            <div class="line comment"># upload input code and data to workspace</div>
            <div class="line"><span class="prompt">$</span>reana-client upload ./code ./data</div>
            <div class="line comment"># start computational workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client start</div>
            <div class="line comment"># check its progress</div>
            <div class="line"><span class="prompt">$</span>reana-client status</div>
            <div class="line comment"># list workspace files</div>
            <div class="line"><span class="prompt">$</span>reana-client ls</div>
            <div class="line comment"># open interactive notebook session</div>
            <div class="line"><span class="prompt">$</span>reana-client open jupyter</div>
            <div class="line comment"># download output results</div>
            <div class="line"><span class="prompt">$</span>reana-client download results/plot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/getting-started/first-example/">more</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="documentation-section section-content-light-bg" id="documentation">
  <div class="container">
    <span class="section-title-dark-bg">Documentation</span>
    <div class="row">
      <div class="col">
        <i class="fas fa-flask fa-5x"></i>
        <h3>Researchers</h3>
        <p>
          Find out how you can use REANA to describe, run, preserve and reuse your analyses.
        </p>
        <a href="https://docs.reana.io/getting-started/">User Guide</a>
      </div>
      <div class="col">
        <i class="fab fa-mixcloud fa-5x"></i>
        <h3>Administrators</h3>
        <p>
          Install and manage the REANA reusable analysis platform on your own compute cloud.
        </p>
        <a href="https://docs.reana.io/administration/">Administrator Guide</a>
      </div>
      <div class="col">
        <i class="fas fa-laptop fa-5x"></i>
        <h3>Developers</h3>
        <p>
          Understand REANA source code, adapt it to your needs, contribute changes back.
        </p>
        <a href="https://github.com/reanahub/reana/wiki/">Developer Guide</a>
      </div>
    </div>
  </div>
</section>
<section class="news-section section-content-white-bg" id="news">
  <div class="container">
    <span class="section-title-white-bg">Latest news</span>
    <div class="row">
      <div class="col-md-6">
        <div class="release-news">
          <img class="screenshot-browser-mockup" src="{{ '/static/img/release.png'|asseturl }}" />
          <div class="release-news-body">
            <h3>REANA 0.9.3</h3>
            <h6>13 Mar 2024</h6>
            <p>Upgrades Snakemake to version 7.</p>
            <p>Improves job submission performance.</p>
            <p>Improves clean up of deleted and failed workflows.</p>
            <p class="release-news-link"><a href="https://github.com/reanahub/reana/releases/tag/0.9.3">See full release notes</a></p>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="events-list-container">
          <table class="events-list">
            <tbody>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  REANA participates at the HSF Analysis Preservation Bootcamp, October 16-18 2023, Valencia, Spain. <a href="https://indico.ific.uv.es/event/6964">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  REANA participates at the CERN-NASA Open Science Summit 2023, July 10-14 2023, Geneva, Switzerland. <a href="https://indico.cern.ch/event/1254282/">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  REANA participates at the CHEP2023 conference, May 8-12 2023, Norfolk, USA. <a href="https://www.jlab.org/conference/CHEP2023">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  REANA participates at the PV2023 conference, May 2-4 2023, Geneva, Switzerland. <a href="https://indico.cern.ch/event/1188041/">[event]</a> <a href="https://zenodo.org/records/10263204">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                    REANA participates at the HSF IRIS-HEP Analysis Ecosystems Workshop II, May 23-25 2022, Paris, France. <a href="https://indico.cern.ch/event/1125222/">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                    A new paper "Scalable Declarative HEP Analysis Workflows for Containerised Compute Clouds" published in Frontiers in Big Data (2021). <a href="https://www.frontiersin.org/articles/10.3389/fdata.2021.661501/full">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-video event-conference"></i></td>
                <td>
                  Presented "Analysis Reproducibility with REANA on Kubernetes" as part of the CERN Cloud Containers webinar series (2020). <a href="https://www.youtube.com/watch?v=EI-8IVOeRUE">[webinar]</a> <a href="https://indico.cern.ch/event/925954/">[event]</a></a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                  A technical overview of REANA published in EPJ Web Conf 2014 (2019) 06034. <a href="https://www.epj-conferences.org/articles/epjconf/abs/2019/19/epjconf_chep2018_06034/epjconf_chep2018_06034.html">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="far fa-newspaper event-conference"></i></td>
                <td>
                    REANA featured in the <a href="https://cds.cern.ch/record/2666160/files/CERNCourier2019MarApr-digitaledition.pdf">CERN Courier March/April 2019</a> thematic issue on Open Science. <a href="https://cerncourier.com/open-science-a-vision-for-collaborative-reproducible-and-reusable-research/">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                    An opinion piece "Open is not enough" about REANA and reproducible science solutions in particle physics published in Nature Physics 15 (2019) 113–119. <a href="https://www.nature.com/articles/s41567-018-0342-2">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-twitter event-twitter"></i></td>
                <td class="event-twitter-text">
                  For all latest news follow us <a href="https://twitter.com/reanahub">on Twitter</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="roadmap-section section-content-light-bg" id="roadmap">
  <div class="container">
    <span class="section-title-white-bg">Roadmap</span>
    <div class="row">
      <div class="col-md-4">
        <h3>Current</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Workflow sharing amongst users
            </h5>
            <p class="card-text">
              Introduce role-based authorisation control models allowing to share workflows with colleagues.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Near-term</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Workflow sharing amongst user groups
            </h5>
            <p class="card-text">
              Introduce user groups to ease the sharing of workflows with multiple colleagues.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Future</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/reanahub/reana-client-go" class="card-link">Go client and stable API</a>
            </h5>
            <p class="card-text">
              Introduce new command-line client written in Go to improve performance and ease of use. Stabilise the REST API versioning.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
