{% extends 'layout.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<section class="intro-section">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="headline col">
          <div><img src="{{ '/static/img/logo-reana.svg'|asseturl }}"></div>
          <h1>Reproducible research data analysis platform</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-section section-content-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Flexible</h3>
        <p>
          Run many computational workflow engines.
        </p>
        <a href="https://www.commonwl.org/"><img src="{{ '/static/img/logo-cwl.svg'|asseturl }}" title="Common Workflow Language" /></a>
        <a href="https://github.com/yadage"><img src="{{ '/static/img/logo-yadage.png'|asseturl }}" title="Yadage" /></a>
      </div>
      <div class="col-md-3 scalable-section">
        <h3>Scalable</h3>
        <p>
          Support for remote compute clouds.
        </p>
        <a href="https://kubernetes.io/"><img src="{{ '/static/img/logo-kubernetes.svg'|asseturl }}" title="Kubernetes" /></a>
        <a href="https://research.cs.wisc.edu/htcondor/"><img src="{{ '/static/img/logo-htcondor.png'|asseturl }}" class="htcondor" title="HTCondor" /></a>
        <a href="https://slurm.schedmd.com/"><img src="{{ '/static/img/logo-slurm.svg'|asseturl }}" class="slurm" title="Slurm" /></a>
      </div>
      <div class="col-md-3">
        <h3>Reusable</h3>
        <p>
          Containerise once, reuse elsewhere. Cloud-native.
        </p>
        <a href="https://www.docker.com/"><img src="{{ '/static/img/logo-docker.svg'|asseturl }}" title="Docker" /></a>
        <a href="https://singularity.lbl.gov/"><img src="{{ '/static/img/logo-singularity.svg'|asseturl }}" title="Singularity" /></a>
      </div>
      <div class="col-md-3">
        <h3>Free</h3>
        <p>
          Free Software. MIT licence. Made with <i class="fa fa-heart"></i> at CERN.
        </p>
        <a href="https://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN" /></a>
      </div>
    </div>
  </div>
</section>
<div class="separator">
  <img src="{{ '/static/img/separator.svg'|asseturl }}" />
</div>
<section class="examples-section section-content-light-bg" id="examples">
  <div class="container">
    <span class="section-title-dark-bg">Examples</span>
    <div id="examples-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <div class="command-line cl-example">
                  <div class="line"><span class="prompt">$</span>cat inputs/names.txt</div>
                  <div class="line output">Jane Doe</div>
                  <div class="line output">Joe Bloggs</div>
                  <div class="line"><span class="prompt">$</span>reana-client start</div>
                  <div class="line"><span class="prompt">$</span>reana-client download</div>
                  <div class="line"><span class="prompt">$</span>cat outputs/greetings.txt</div>
                  <div class="line output">Hello Jane Doe!</div>
                  <div class="line output">Hello Joe Bloggs!</div>
                </div>
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-helloworld">"Hello world"</a></figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-jupyter.png'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-worldpopulation">Parametrised Jupyter notebook</a></figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-root.png'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-root6-roofit">ROOT/RooFit physics analysis</a></figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-bsm-search.png'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-bsm-search">ATLAS BSM search</a></figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-lhcb-rare-charm-decay-search.jpg'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu">LHCb rare charm decay search</a></figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-alice-lego-train-test-run.png'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run">ALICE LEGO train test run</a></figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-atlas-recast.png'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-atlas-recast">ATLAS RECAST</a></figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <img src="{{ '/static/img/example-cms-higgs-to-four-leptons.png'|asseturl }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a href="https://github.com/reanahub/reana-demo-cms-h4l">CMS Higgs-to-four-leptons</a></figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#examples-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#examples-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="getstarted-section section-content-dark-bg" id="getstarted">
  <div class="container">
    <span class="section-title-white-bg">Get started</span>
    <div class="row">
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">1</div>
        </div>
        <h3>Structure your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line">version: 0.7.3</div>
            <div class="line">inputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- code/mycode.py</div>
            <div class="line tab-2x">- inputs/mydata.csv</div>
            <div class="line tab">parameters:</div>
            <div class="line tab-2x">myparameter: myvalue</div>
            <div class="line">workflow:</div>
            <div class="line tab">type: cwl</div>
            <div class="line tab">file: workflow/myworkflow.cwl</div>
            <div class="line">outputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- results/myplot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/reference/reana-yaml/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">2</div>
        </div>
        <h3>Select a REANA cluster...</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line"><span class="prompt">$</span>export REANA_SERVER_URL=https://reana.cern.ch/</div>
            <div class="line"><span class="prompt">$</span>export REANA_ACCESS_TOKEN=XXXXXXX</div>
          </div>
        </figure>
        <h3>...or install your own</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># install kubectl 1.16+, kind 0.8+ and helm 3.0+</div>
            <div class="line"><span class="prompt">$</span>sudo dpkg -i kubectl*.deb kind*.deb kubernetes-helm*.deb</div>
            <div class="line comment"># create Kubernetes cluster (or use your own!)</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.7/etc/kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>kind create cluster --config kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.7/scripts/prefetch-images.sh</div>
            <div class="line"><span class="prompt">$</span>sh prefetch-images.sh</div>
            <div class="line comment"># deploy REANA using Helm</div>
            <div class="line"><span class="prompt">$</span>helm repo add reanahub https://reanahub.github.io/reana</div>
            <div class="line"><span class="prompt">$</span>helm repo update</div>
            <div class="line"><span class="prompt">$</span>helm install reana reanahub/reana --wait</div>
            <div class="line comment"># create an admin user</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.7/scripts/create-admin-user.sh</div>
            <div class="line"><span class="prompt">$</span>sh create-admin-user.sh default reana john.doe@example.org mysecretpassword</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/administration/deployment/deploying-locally/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">3</div>
        </div>
        <h3>Run your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># create new virtual environment</div>
            <div class="line"><span class="prompt">$</span>virtualenv ~/.virtualenvs/myreana</div>
            <div class="line"><span class="prompt">$</span>source ~/.virtualenvs/myreana/bin/activate</div>
            <div class="line comment"># install REANA client</div>
            <div class="line"><span class="prompt">$</span>pip install reana-client</div>
            <div class="line comment"># create new workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client create -n my-analysis</div>
            <div class="line"><span class="prompt">$</span>export REANA_WORKON=my-analysis</div>
            <div class="line comment"># upload input code and data to workspace</div>
            <div class="line"><span class="prompt">$</span>reana-client upload ./code ./data</div>
            <div class="line comment"># start computational workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client start</div>
            <div class="line comment"># check its progress</div>
            <div class="line"><span class="prompt">$</span>reana-client status</div>
            <div class="line comment"># list workspace files</div>
            <div class="line"><span class="prompt">$</span>reana-client ls</div>
            <div class="line comment"># open interactive notebook session</div>
            <div class="line"><span class="prompt">$</span>reana-client open jupyter</div>
            <div class="line comment"># download output results</div>
            <div class="line"><span class="prompt">$</span>reana-client download results/plot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/getting-started/first-example/">more</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="documentation-section section-content-light-bg" id="documentation">
  <div class="container">
    <span class="section-title-dark-bg">Documentation</span>
    <div class="row">
      <div class="col">
        <i class="fas fa-flask fa-5x"></i>
        <h3>Researchers</h3>
        <p>
          Find out how you can use REANA to describe, run, preserve and reuse your analyses.
        </p>
        <a href="https://docs.reana.io/getting-started/">User Guide</a>
      </div>
      <div class="col">
        <i class="fab fa-mixcloud fa-5x"></i>
        <h3>Administrators</h3>
        <p>
          Install and manage the REANA reusable analysis platform on your own compute cloud.
        </p>
        <a href="https://docs.reana.io/administration/">Administrator Guide</a>
      </div>
      <div class="col">
        <i class="fas fa-laptop fa-5x"></i>
        <h3>Developers</h3>
        <p>
          Understand REANA source code, adapt it to your needs, contribute changes back.
        </p>
        <a href="https://github.com/reanahub/reana/wiki/">Developer Guide</a>
      </div>
    </div>
  </div>
</section>
<section class="news-section section-content-white-bg" id="news">
  <div class="container">
    <span class="section-title-white-bg">Latest news</span>
    <div class="row">
      <div class="col-md-6">
        <div class="release-news">
          <img src="{{ '/static/img/release.png'|asseturl }}" />
          <div class="release-news-body">
            <h3>REANA 0.7.3</h3>
            <h6>24 March 2021</h6>
            <p>
              Adds reana-client validation of workflow input parameters and environment images. Improves cluster resilience in case of job failures. Fixes HTCondor and Slurm integration for complex job commands.
            </p>
            <p class="release-news-link"><a href="https://github.com/reanahub/reana/releases/tag/0.7.3">See full release notes</a></p>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="events-list-container">
          <table class="events-list">
            <tbody>
              <tr>
                <td class="events-list-header"><i class="fas fa-video event-conference"></i></td>
                <td>
                  Presented "Analysis Reproducibility with REANA on Kubernetes" as part of the CERN Cloud Containers webinar series. <a href="https://www.youtube.com/watch?v=EI-8IVOeRUE">[webinar]</a> <a href="https://indico.cern.ch/event/925954/">[event]</a></a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  REANA presented at the 24th Conference on Computing in High
 Energy and Nuclear Physics, 4-8 November 2019, Adelaide, Australia. <a href="https://indico.cern.ch/event/773049/contributions/3476160/attachments/1936742/3209737/CHEP-2019-Hybrid_analysis_pipelines_in_the_REANA_reproducible_analysis_platform.pdf">[poster]</a> <a href="https://indico.cern.ch/event/773049/">[event]</a></a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                    REANA presented at the 15th eScience IEEE International Conference, 24-27 September 2019, San Diego, USA. <a href="http://cds.cern.ch/record/2695179/files/Poster-2019-942.pdf">[poster]</a> <a href="http://cds.cern.ch/record/2696223/files/CERN-IT-2019-004.pdf">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="far fa-newspaper event-conference"></i></td>
                <td>
                    REANA featured in the <a href="http://iopp.fileburst.com/ccr/archive/CERNCourier2019MarApr-digitaledition.pdf">CERN Courier March/April 2019</a> thematic issue on Open Science. <a href="https://cerncourier.com/open-science-a-vision-for-collaborative-reproducible-and-reusable-research/">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                    An opinion piece "Open is not enough" about REANA and reproducible science solutions in particle physics published in Nature Physics 15 (2019) 113–119. <a href="https://www.nature.com/articles/s41567-018-0342-2">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-twitter event-twitter"></i></td>
                <td class="event-twitter-text">
                  For all latest news follow us on <a href="https://twitter.com/reanahub">Twitter</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="roadmap-section section-content-light-bg" id="roadmap">
  <div class="container">
    <span class="section-title-white-bg">Roadmap</span>
    <div class="row">
      <div class="col-md-4">
        <h3>Current</h3>
        <p>
          What we work on now
        </p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/orgs/reanahub/projects/34" class="card-link">
                User quotas
              </a>
            </h5>
            <p class="card-text">
              Collect CPU and HDD consumption information for users running notebooks and workflows.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Near-term</h3>
        <p>
          What we plan to work on next
        </p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Live logs</h5>
            <p class="card-text">
              Introduce live job log streaming for CLI and Web UI.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">LHC community</h5>
            <p class="card-text">
              Introduce abstract dataset concept to handle a set of related files.
            </p>
            <p class="card-text">
              Use various remote storage backends for workflow workspace.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Future</h3>
        <p>
          What is coming later
        </p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Abstraction of data storage</h5>
            <p class="card-text">
              Use various remote storage backends for workflow workspace.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User groups and authorisations</h5>
            <p class="card-text">Introduce OpenID Connect to support more authentication mechanisms.</p>
            <p class="card-text">Introduce user groups and role-based authorisation control models.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
